pip-tools
future
emoji>=0.6.0
requests
sqlalchemy>=1.3.23
python-telegram-bot>=11.1.0
telethon>=1.17.5
pyrogram>=1.0.7
psycopg2
feedparser
pythonping
pynewtonmath
#memes from SkittBot
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
#Cool stuff by Peak
python-rapidjson>=0.9.3
PyLyrics
#AEX
hurry.filesize
#translator
googletrans==3.1.0a0
python-rapidjson>=1.6
telegraph>=1.4.1
tldextract>=3.2.1
PyYAML
Intellivoid-SPB>=0.1.1
pyowm
wikipedia
coffeehouse
bleach
markdown2
covid
speedtest-cli
