future
emoji==0.6.0
requests
SQLAlchemy==1.4.42
python-telegram-bot==13.14
psycopg2
feedparser
pythonping
pynewtonmath
#memes from SkittBot
spongemock
zalgo-text
geopy
nltk
aiohttp>=2.2.5
Pillow>=4.2.0
#Cool stuff by Peak
PyLyrics
#AEX
hurry.filesize
#translator
googletrans==3.1.0a0
jikanpy
tldextract
PyYAML
pyowm
wikipedia
bleach
markdown2
Pyrogram==2.0.59
Telethon==1.25.4
TgCrypto==1.2.4
